<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924643967893-1hdkgko2epbrs434r5mn4thajnkqiltv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924643967893-1hdkgko2epbrs434r5mn4thajnkqiltv</string>
	<key>API_KEY</key>
	<string>AIzaSyDRRFiXO6Ga9-8n3X2Dj7VK5x1L7LE7FE8</string>
	<key>GCM_SENDER_ID</key>
	<string>924643967893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.catirito.covid19tracker</string>
	<key>PROJECT_ID</key>
	<string>covid19-tracker-6e88f</string>
	<key>STORAGE_BUCKET</key>
	<string>covid19-tracker-6e88f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924643967893:ios:1429ba28671755cf4dac9c</string>
	<key>DATABASE_URL</key>
	<string>https://covid19-tracker-6e88f.firebaseio.com</string>
</dict>
</plist>